:root {
  --fg: #fff;
  --bg: #111;

  --blue: #00537e;
  --deep-blue: #003a7b;
  --heritage-blue: #0078b9;
  --red: #ef3824;
  --deep-blue: #cf202e;
  --plat-mist: #cbd1d5;
  --charcoal-grey: #65686b;
  --anthracite-grey: #495153;
}

body {
  font-family: 'Kanit', sans-serif;
  background-color: var(--bg);
  color: var(--fg);
}